<label class="checkbox {{ className }}">
    <span>{{ label }}</span>
    <input type="checkbox" onchange="toggleCheckboxClass(event)">
    <img src="/images/icons/misc/check.svg" class="check-icon-off" alt="Check Icon">
    <img src="/images/icons/misc/check-green.svg" class="check-icon-on" alt="Check Icon">
</label>
