<div class="page page-account">
    {{> components-page-header}}
    {{#isPartner}}
        {{> components-earnings-tracker }}
    {{/isPartner}}
    {{^isPartner}}
        {{> components-partner-progress }}
    {{/isPartner}}
    <main class="content">
        <div class="account-option referral-link">
            <img src="/images/icons/16px/link-blue-muted.svg" alt="Link Icon">
            <span class="option-title">Referral Link</span>
            <span class="link">https://partie.com/?id=939dzgx</span>
            <button class="btn bg-black">Copy</button>
        </div>
        <div class="account-option" onclick="window.location = '{{ link.pages-preferences }}'">
            <img src="/images/icons/16px/settings-blue-muted.svg" alt="Preferences Icon">
            <span class="option-title">Preferences</span>
        </div>
        <div class="account-option" onclick="window.location = '{{ link.pages-account-notifications }}'">
            <img src="/images/icons/16px/notifications-blue-muted.svg" alt="Notifications Icon">
            <span class="option-title">Notifications Manager</span>
        </div>
        <div class="account-option" onclick="window.location = '{{ link.pages-privacy }}'">
            <img src="/images/icons/16px/lock-blue-muted.svg" alt="Privacy Icon">
            <span class="option-title">Privacy &amp; Safety</span>
        </div>
        <div class="account-option" onclick="openModal('#terms-modal')">
            <img src="/images/icons/16px/terms-blue-muted.svg" alt="Terms Icon">
            <span class="option-title">Terms</span>
        </div>
        <div class="account-option" onclick="openModal('#terms-modal')">
            <img src="/images/icons/16px/community-blue-muted.svg" alt="Community Icon">
            <span class="option-title">Community Guidelines</span>
        </div>
        <div class="account-option" onclick="openModal('#terms-modal')">
            <img src="/images/icons/16px/help-blue-muted.svg" alt="Help Icon">
            <span class="option-title">Help</span>
        </div>
        <div class="account-option" onclick="openModal('#terms-modal')">
            <img src="/images/icons/16px/about-blue-muted.svg" alt="About Icon">
            <span class="option-title">About</span>
        </div>
    </main>
    {{> components-tap-bar }}
    {{> components-terms-modal }}
</div>
