<div class="page">
    <div class="content">
        <br><br>
        <h2>Create Account</h2>
        <p><a href="{{ link.pages-landing }}">Landing Page</a></p>
        <p><a href="{{ link.pages-create-account }}">Create Account</a></p>
        <p><a href="{{ link.pages-verify-account }}">Verify Account</a></p>
        <br><br>
        <h2>Sign In</h2>
        <p><a href="{{ link.pages-sign-in }}">Sign In</a></p>
        <p><a href="{{ link.pages-sign-in-reset-success }}">Sign In (Reset Success)</a></p>
        <br><br>
        <h2>Reset Password</h2>
        <p><a href="{{ link.pages-reset-password }}">Reset Password</a></p>
        <p><a href="{{ link.pages-reset-password-success }}">Reset Password (Success)</a></p>
        <p><a href="{{ link.pages-reset-password-via-email }}">Reset Password (via Email)</a></p>
        <br><br>
        <h2>Home</h2>
        <p><a href="{{ link.pages-home }}">Home</a></p>
        <p><a href="{{ link.pages-home-no-results }}">Home (Search - no results)</a></p>
        <p><a href="{{ link.pages-new-post }}">New Post</a></p>
        <br><br>
        <h2>Profile</h2>
        <p><a href="{{ link.pages-public-profile }}">Public Profile</a></p>
        <br><br>
        <h2>Parties</h2>
        <p><a href="{{ link.pages-partie-list }}">Partie List</a></p>
        <p><a href="{{ link.pages-host-partie }}">Host Partie</a></p>
        <p><a href="{{ link.pages-partie-room }}">Partie Room</a></p>
        <p><a href="{{ link.pages-partie-room-messages }}">Partie Room (With Messages)</a></p>
        <p><a href="{{ link.pages-partie-room-public }}">Partie Room (Public View)</a></p>
        <p><a href="{{ link.pages-partie-room-rate }}">Partie Room (Rating Modal)</a></p>
        <p><a href="{{ link.pages-partie-room-feedback }}">Partie Room (Feedback Modal)</a></p>
        <br><br>
        <h2>Notifications</h2>
        <p><a href="{{ link.pages-notifications }}">Notifications</a></p>
        <p><a href="{{ link.pages-notifications-empty }}">Notifications (Empty)</a></p>
        <br><br>
        <h2>Messages</h2>
        <p><a href="{{ link.pages-messages }}">Messages</a></p>
        <p><a href="{{ link.pages-conversation }}">Conversation</a></p>
        <br><br>
        <h2>Account</h2>
        <p><a href="{{ link.pages-account }}">Account</a></p>
        <p><a href="{{ link.pages-account-progress-complete }}">Account (Progress 100%)</a></p>
        <p><a href="{{ link.pages-account-pending-review }}">Account (Partner Pending)</a></p>
        <p><a href="{{ link.pages-preferences }}">Account - Preferences</a></p>
        <p><a href="{{ link.pages-account-notifications }}">Account - Notifications</a></p>
        <p><a href="{{ link.pages-privacy }}">Account - Privacy &amp; Safety</a></p>
        <p><a href="{{ link.pages-account-partner }}">Account (Partner)</a></p>
        <br><br>
        <h2>Store</h2>
        <p><a href="{{ link.pages-store-main }}">Store</a></p>
        <p><a href="{{ link.pages-store-view-all }}">Store (View All)</a></p>
        <p><a href="{{ link.pages-product }}">Store - Product Detail</a></p>
        <br><br>
        <h2>Edit Profile</h2>
        <p><a href="{{ link.pages-edit-profile }}">Edit Profile</a></p>
        <p><a href="{{ link.pages-edit-profile-linked-social }}">Edit Profile (Linked Social)</a></p>
        <p><a href="{{ link.pages-select-photo }}">Upload Avatar Image</a></p>
        <br><br>
    </div>
</div>
