<div class="tap-bar">
    <nav>
        <button class="btn btn-bare btn-tap-bar">
            <img src="/images/icons/24px/home-filled.svg" alt="Home Icon">
            <span class="t-nav">Home</span>
        </button>
        <button class="btn btn-bare btn-tap-bar">
            <img src="/images/icons/24px/partie.svg" alt="Partie Icon">
            <span class="t-nav">Partie</span>
        </button>
        <button class="btn btn-bare btn-tap-bar">
            <img src="/images/icons/24px/chat.svg" alt="Chat Icon">
            <span class="t-nav">Chat</span>
        </button>
        <button class="btn btn-bare btn-tap-bar">
            <img src="/images/icons/24px/account.svg" alt="Account Icon">
            <span class="t-nav">Account</span>
        </button>
    </nav>
</div>
