<div class="page page-messages {{^messages}}empty{{/messages}}">
    {{> components-page-header}}
    <main class="content">
        {{#messages}}
            {{> components-message-item }}
        {{/messages}}

        {{^messages}}
            <img src="/images/logo-lockup.svg" alt="Partie Logo" class="logo">
            <p class="headline">You don't have any messages</p>
            <p>Put a bird on it intelligentsia hella, leggings roof party everyday carry listicle wayfarerse.</p>
        {{/messages}}
    </main>
    <button class="btn btn-floating-cta" onclick="openModal('#new-message-modal')"></button>
    {{> components-tap-bar }}
    {{> components-user-feed-menu }}
    {{> components-new-message-modal }}
</div>
