<div class="page page-notifications {{^notificationItems}}empty{{/notificationItems}}">
    {{> components-page-header}}
    <div class="clear">
        <div class="content">
            <span>Clear All Notifications?</span>
            <button class="btn bg-purple">Clear All</button>
        </div>
    </div>
    <main class="content">
        {{# notificationItems }}
            {{> components-notification-item }}
        {{/notificationItems}}

        {{^notificationItems}}
            <img src="/images/logo-lockup.svg" alt="Partie Logo" class="logo">
            <p class="headline">You don't have any notifications</p>
            <p>Put a bird on it intelligentsia hella, leggings roof party everyday carry listicle wayfarerse.</p>
        {{/notificationItems}}
    </main>
</div>
